@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700");


body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;

}

#root {
  height: 100vh;
}

::-webkit-scrollbar { 
    display: none; 
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
 